.card-img {
    width: 150px;
    height: 150px;
    vertical-align: middle;
}

.card {
    width: 90%;
    height: 150px;
}

.mb-4 {
    margin: 0;
}

#cardSubtitle {
    font-size: 13px;
}

.card-contact {
    font-size: 14px;
    margin-bottom: 5px;

}

.card-title {
    font-size: 16px;
    font-weight: bold;
}

.col-md-3 {
    flex: 0 0 20%;
}