.banner{
    position: relative;
    background: url(bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;

    padding: 250px 0 200px;
     
}
header{
    position: absolute;
    z-index: 10;
    width: 100%;
    

}
